<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}" style="margin-top:70px;" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<ng-content select=".app-modal-header"></ng-content>
				</div>
				<div class="modal-body">
					{{message}}
				</div>
				<div class="app-modal-footer" style="margin-top:15px; margin-bottom: 10px; margin-left: 10px">
						<button type="button" class="btn btn-default" (click)="hide()">Cancelar</button>
						<button type="button" class="btn btn-primary" (click)="delete()">Eliminar</button>
				</div>
			</div>
		</div>