<div class="container">
    <div class="col-xs-12">

        <div class="page-header">
            <h1></h1>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading text-center">LISTADO DE EMPLEADOS</div>
				<table class="table table-striped" [mfData]="data" #mf="mfDataTable" [mfRowsOnPage]="10">
				    <thead>
				    	<tr>
			                <th>Busqueda por: </th>
			                <th><input class="form-control" [(ngModel)]="filterQuery"/></th>
			            </tr>
					    <tr>
					        <th style="width: 10%">
					            <mfDefaultSorter by="name">Nombre</mfDefaultSorter>
					        </th>
					        <th style="width: 10%">
					            <mfDefaultSorter by="lastName">Apellido	</mfDefaultSorter>
					        </th>
					        <th style="width: 10%">
					            <mfDefaultSorter by="expedient">Legajo</mfDefaultSorter>
					        </th>
					         <th style="width: 10%">
					            <mfDefaultSorter by="nfcTag">Tag Sube</mfDefaultSorter>
							</th>
							<th style="width: 10%">
									<mfDefaultSorter by="nfcTag">Status</mfDefaultSorter>
								</th>
					         <th class="text-center" style="width: 10%" colspan="3">Opciones</th>
					    </tr>
					   
				    </thead>
				    <tbody>
					    <tr *ngFor="let employee of mf.data let i = index" [attr.data-index]="i">
					        <td>{{ employee.name }}</td>
					        <td>{{ employee.lastName }}</td>
					        <td>{{ employee.expedient }}</td>
							<td>{{ employee.nfcTag }}</td>
							<td>{{ employee.status }}</td>
							<td class="text-right"><button type="button" (click)="modal.show(false, employee)" class="btn btn-primary">Ver</button></td>
					        <td class="text-right"><button type="button" (click)="modal.show(true, employee)" class="btn btn-primary">Editar</button></td>
					        <td class="text-left"><button (click)="remove(i)" class="btn btn-danger">Eliminar</button></td>
					    </tr>
				    </tbody>
				    <tfoot>
					    <tr>
					        <td colspan="6">
					            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]">Cantidad de Elementos por Paginá</mfBootstrapPaginator>
					        </td>
					    </tr>
				    </tfoot>
				</table>
				
		</div>
		<button type="button" (click)="modal.show(true)" class="btn btn-primary">Nuevo empleado</button>
	</div>
	<employee-modal [onFinish]="onFinish" #modal>
	  <div class="app-modal-header">Empleado</div>
	</employee-modal>
</div>

