<div (click)="onContainerClicked($event)" class="modal fade" tabindex="-1" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<ng-content select=".app-modal-header"></ng-content>
			</div>
			<div class="modal-body">
				<div class="app-modal-body">
					<label for="name" style="margin-top:5px;">Nombre</label>
					<input type="text" class="form-control" id="name" [disabled]="!edit" [(ngModel)]="employee.name" name="name" #name="ngModel"
					 placeholder="{{employee.name}}" value="{{employee.name}}">
					<label for="lastName" style="margin-top:5px;">Apellido</label>
					<input type="text" class="form-control" id="lastName" [disabled]="!edit" [(ngModel)]="employee.lastName" name="lastName"
					 #lastName="ngModel" placeholder="{{employee.lastName}}" value="{{employee.lastName}}">
					<label for="expedient" style="margin-top:5px;">Expediente</label>
					<input type="text" class="form-control" id="expedient" [disabled]="!edit" [(ngModel)]="employee.expedient" name="expedient"
					 #expedient="ngModel" placeholder="{{employee.expedient}}" value="{{employee.expedient}}">
					<label for="nfcTag" style="margin-top:5px;">Codigo SUBE</label>
					<input type="text" class="form-control" id="nfcTag" disabled [(ngModel)]="employee.nfcTag" name="nfcTag" #nfcTag="ngModel"
					 placeholder="{{employee.nfcTag}}" value="{{employee.nfcTag}}">
					<label for="status" style="margin-top:5px;">Status</label>
					<br>
					<select [(ngModel)]="employee.status" [disabled]="!edit">
						<option *ngFor="let s of allStatus" [ngValue]="s.status">{{s.displayValue}}</option>
					</select>
				</div>
				<div *ngFor="let workDay of employee.scheduleWorkTime" style="margin-top:10px;">
					<div class="row">
						<div class="col-sm-2">{{getDayDisplayLabel(workDay)}}</div>
						<div class="col-sm-8">Desde
							<input type="time" id="exampleInput" name="input" [disabled]="!edit" (ngModelChange)="workDay.timeFrom=change($event)" [ngModel]="workDay.timeFrom  | date:'HH:mm:ss'"
							 placeholder="HH:mm:ss" style="margin-right:20px" /> Hasta
							<input type="time" id="exampleInput" name="input" [disabled]="!edit" (ngModelChange)="workDay.timeTo=change($event)" [ngModel]="workDay.timeTo | date:'HH:mm:ss'"
							 placeholder="HH:mm:ss" />
						</div>
					</div>
				</div>
				<div class="app-modal-footer" style="margin-top:15px">
					<button type="button" class="btn btn-default" (click)="hide()">Cerrar</button>
					<button *ngIf="edit && isNewEmployee" type="button" class="btn btn-primary" (click)="save()">Guardar</button>
					<button *ngIf="edit && !isNewEmployee" type="button" class="btn btn-primary" (click)="update()">Guardar</button>
				</div>
			</div>

		</div>
	</div>